#table-users {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}

.label-user-division {
  margin-left: 5px;
}

#table-user {
  table-layout: fixed; width: 100%;
  th {
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
  }
}